
a { 
	color:darkmagenta;
}

.head {
	text-align:center;
	font-size:80%;
	background-color:mediumpurple;
	color:white;

	padding:10px 35px 10px 10px;
	margin:0px;
	border-top:4px solid black;
	border-left:4px solid black;

}

.container {
	display:flex;
	padding:0px 0px 0px 0px; 
	width:100%;
	
}

.sidepanel {


	flex:0;
	margin:0px;
	padding:0px;
	background-color:pink;
	color:black;
	font-size:100%;
	text-align:left;
	border-top:4px solid black;
	border-bottom:4px solid black;
	border-left:4px solid black;
	border-right:4px solid black;
	
}

.sidepanel div{
	flex:1;
	margin-left:0px;
	padding:10px;
	width:auto;
	text-align:left;

}

.center {
	flex:1;
	background-color:mediumpurple;
	color:white;
	border-top:4px solid black; 
	border-bottom:4px solid black;
	border-left:4px solid black;
	border-right:4px solid black;

	width:auto;
	text-align:center;
	padding:0px 35px 35px 0px

}

.nvbele {
	flex:1;
	margin:2px;
	background-color:pink;
	border:6px solid black;
	border-radius:16px;
}

.nvbcur {
        flex:1;
        margin:8px;
        background-color:pink;
        border:6px solid mediumpurple;
        border-radius:16px;
	
}

.proj {
	text-align:left;
	padding:10px 0px 0px 35px;
}

#page-container {
	position:relative;
	min-height:100%;
}

#content-wrap {
	padding-bottom:2.5rem;
}

.footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:2.5rem;
	
	color:white;
	text-align:center;
	font-size:70%;
	margin:2px;
}

.proj hr{
	color:pink;

}

#body {overflow: hidden}
